version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: livepro_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - livepro_db_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: dockerfile.api
    container_name: livepro_api
    restart: unless-stopped
    env_file: .env
    depends_on:
      - db
    ports:
      - "3333:3333"

  web:
    build:
      context: .
      dockerfile: dockerfile.web
    container_name: livepro_web
    restart: unless-stopped
    env_file: .env
    depends_on:
      - api
    ports:
      - "3000:3000"

volumes:
  livepro_db_data: