services:
  db:
    image: postgres:16-alpine
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: livepro
      POSTGRES_PASSWORD: livepro
      POSTGRES_DB: livepro
    volumes:
      - dbdata:/var/lib/postgresql/data

volumes:
  dbdata:
